body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.centre {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid rgba(13, 174, 177, 0.406);
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(13, 174, 177, 0.776);
  text-decoration: none;
  background-color: rgba(13, 174, 177, 0.406);
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.new-question-btn {
  margin: 30px auto;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav {
  display: flex;
  padding: 0 25px;
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 3px solid rgba(13, 174, 177, 0.776);
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 100px;
  border-radius: 50%;
  margin: 25px;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question-poll {
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  margin-top: 40px;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.question-results {
  width: 100%;
}

.question-results-options {
  border: 1px solid #dad7d7;
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
}

.question-results-options {
  border: 1px solid #dad7d7;
  margin: 10px 0;
}

.question-votes {
  text-align: center;
  padding: 10px 0 0 0;
}

.chosen {
  border: 3px solid rgba(13, 174, 177, 0.776);
  background-color: rgba(13, 174, 177, 0.2);
  position: relative;
}

.badge {
  display: none;
  background-color: rgba(172, 216, 37, 1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: smaller;
  font-weight: bold;
}

.chosen .badge {
  display: flex;
  position: absolute;
  top: -25px;
  right: -25px;
}

.your-vote {
  padding: 9px 0 0 0;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 50px;
}

.or-text {
  text-align: center;
  padding: 20px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #c3392a;
}

.profile {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.profile-name {
  font-size: 1.5em;
  border-bottom: 1px solid #dad7d7;
  padding: 10px;
}

.profile-info {
  display: flex;
  flex-direction: row;
}

.profile-info ul {
  width: 250px;
  margin-top: auto;
  margin-bottom: auto;
}

.total-score {
  margin: auto;
  text-align: center;
}

.total-score-number {
  background-color: #00b5d6;
  display: block;
  height: 75px;
  width: 75px;
  line-height: 75px;
  border-radius: 50%;
  margin: 10px auto;
  color: white;
  text-align: center;
  font-size: 2em;
}

.total-score-label {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

.tab {
  text-transform: uppercase;
  margin: 15px auto;
  padding: 10px;
  border: 2px solid rgba(13, 174, 177, 0.406);
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.tab:hover {
  border-color: rgba(13, 174, 177, 0.776);
  text-decoration: none;
  background-color: rgba(13, 174, 177, 0.406);
}

.tab-active {
  font-weight: bold;
  background-color: rgba(13, 174, 177, 0.206);
}

.nav-tabs {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
}

.nav-tabs ul {
  margin: auto;
  display: flex;
  flex-direction: row;
}

form div {
  margin: 5px 0;
  font-size: 1.1em;
}

.percentage-border {
  border: 1px solid rgba(13, 174, 177, 0.776);
  height: 30px;
  border-radius: 5px;
}

.percentage-fill {
  background-color: rgba(13, 174, 177, 0.776);
  height: 30px;
  border-radius: 3px;
}

.percentage-number {
  text-align: right;
  padding-right: 4px;
  line-height: 30px;
}

.sign-in-card {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.sign-in-welcome {
  border-bottom: 1px solid #dad7d7;
  padding: 10px;
  text-align: center;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.sign-in-user {
  width: 250px;
  height: 40px;
  margin: 10px auto;
}

.leaderboard {
  margin-top: 40px;
}

.page-not-found h2 {
  text-align: center;
}
